.box {
    width: 800px;
    height: 600px;
    background-color: black;
    position: relative;
}

.box #player {
    width: 50px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 590px;
    left: 400px;
}

.ball {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 400px;
    border-radius: 50%;
}
